import url ("https://fonts.googleapis.com/css?family=Fira+Code:400,700,500,600");

.home {
  align-items: flex-start;
  background-color: var(--alto);
  border: 1px none;
  display: flex;
  overflow: hidden;
  width: 1366px;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.overlap-group6 {
  height: 3252px;
  margin-left: -77px;
  position: relative;
  width: 1530px;
}

.image-7 {
  height: 63px;
  left: 730px;
  object-fit: cover;
  position: absolute;
  top: 2829px;
  width: 227px;
}

.overlap-group4 {
  height: 2829px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1530px;
}

.background {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 2136px;
  position: absolute;
  top: 672px;
  width: 1530px;
}

.frame-36 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 103px;
  justify-content: space-between;
  margin-left: 26px;
  margin-top: 308px;
  width: 103px;
}

.frame-2 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  justify-content: space-between;
}

.ellipse {
  background-color: var(--cadet-blue);
  border: 1px none;
  border-radius: 2px;
  height: 4px;
  min-width: 4px;
}

.rectangle-25-1 {
  border: 1px solid;
  border-color: var(--cadet-blue);
  height: 155px;
  margin-top: 810px;
  width: 155px;
}

.frame-31 {
  align-items: flex-start;
  align-self: flex-end;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 103px;
  justify-content: space-between;
  margin-right: 64px;
  margin-top: 14px;
  width: 103px;
}

.frame-28 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 31px;
  margin-top: 192px;
  width: 84px;
}

.rectangle-26 {
  align-self: flex-end;
  border: 1px solid;
  border-color: var(--cadet-blue);
  height: 91px;
  margin-right: 78px;
  width: 91px;
}

.rectangle-25 {
  align-self: flex-end;
  border: 1px solid;
  border-color: var(--cadet-blue);
  height: 155px;
  margin-top: 121px;
  width: 155px;
}

.frame-86 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  height: 294px;
  left: 269px;
  padding: 74px 260px;
  position: absolute;
  top: 2315px;
  width: 686px;
}

.frame-81 {
  border: 1px none;
  height: 34px;
  margin-left: 161px;
  width: 5px;
}

.frame-85 {
  border: 1px none;
  height: 15px;
  left: 804px;
  position: absolute;
  top: 1937px;
  width: 74px;
}

.quote {
  align-items: flex-end;
  background-color: var(--burning-orange);
  border: 1px solid;
  border-color: var(--cadet-blue);
  display: flex;
  flex-direction: column;
  left: 346px;
  min-height: 85px;
  position: absolute;
  top: 754px;
  width: 862px;
}

.frame-50 {
  height: 29px;
  margin-right: 16.53px;
  margin-top: 18px;
  width: 41px;
}

.frame-49-1 {
  align-items: flex-start;
  background-color: 
#e5c07a;
  border: 1px none;
  display: flex;
  gap: 10px;
  margin-top: 17px;
  padding: 16px;
  width: fit-content;
}

.steve-wozniak {
  color: var(--white);
  font-family: var(--font-family-fira_code);
  font-size: var(--font-size-xl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  width: fit-content;
}

.dont-trust-a-comput {
  color: var(--white);
  font-family: var(--font-family-fira_code);
  font-size: var(--font-size-xl);
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 9px;
  margin-top: 16px;
  min-height: 31px;
  min-width: 821px;
}

.frame-49 {
  align-self: flex-start;
  height: 29px;
  margin-left: 11px;
  margin-top: -14px;
  width: 41px;
}

.iso_c_-logo-1 {
  height: 116px;
  left: 637px;
  object-fit: cover;
  position: absolute;
  top: 1672px;
  width: 103px;
}

.frame-76 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  height: 270px;
  left: 357px;
  padding: 0 57px;
  position: absolute;
  top: 664px;
  width: 126px;
}

.frame-69 {
  border: 1px none;
  height: 33px;
  margin-left: 5px;
  margin-top: -21px;
  width: 7px;
}

.frame-82 {
  border: 1px none;
  height: 100px;
  left: 488px;
  position: absolute;
  top: 2139px;
  width: 100px;
}

.projects {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 38px;
  left: 239px;
  min-height: 486px;
  position: absolute;
  top: 944px;
  width: 1039px;
}

.group-42 {
  align-items: center;
  display: flex;
  gap: 210px;
  height: 84px;
  min-width: 1029px;
}

.view-all- {
  color: var(--burning-orange);
  cursor: pointer;
  font-family: var(--font-family-fira_code);
  font-size: var(--font-size-s);
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 21px;
  min-height: 21px;
  min-width: 116px;
}

.h2 {
  align-items: center;
  border: 1px none;
  display: flex;
  gap: 16px;
  width: 701px;
}

.line-7-stroke-3 {
  flex: 1;
  height: 1px;
  min-width: 265px;
}

.activities-3 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  width: fit-content;
}

.frame-26-3 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  width: fit-content;
}

.text-6 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  width: fit-content;
}

.frame-5-1 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  gap: 16px;
  margin-left: 2px;
  width: fit-content;
}

.project {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--cadet-blue);
  display: flex;
  flex-direction: column;
  margin-bottom: -1px;
  margin-left: -1px;
  margin-top: -1px;
  width: fit-content;
}

.frame-3-1 {
  align-self: stretch;
  height: 116px;
  min-width: 335px;
}

.image-3 {
  height: 248px;
  min-width: 335px;
  object-fit: cover;
}

.group-4 {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--cadet-blue);
  display: flex;
  flex-direction: column;
  margin-bottom: -1px;
  margin-right: -1px;
  margin-top: -1px;
  width: fit-content;
}

.frame-3 {
  align-items: flex-start;
  align-self: stretch;
  border-color: var(--cadet-blue);
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.text_label {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
}

.frame-5 {
  align-items: flex-start;
  background-color: var(--burning-orange);
  border: 1px none;
  display: flex;
  gap: 16px;
  width: fit-content;
}

.frame-6 {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--lavender);
  display: flex;
  gap: 10px;
  padding: 8px 16px;
  width: fit-content;
}

.live--2 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  width: fit-content;
}

.group-3 {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--cadet-blue);
  display: flex;
  flex-direction: column;
  margin-bottom: -1px;
  margin-top: -1px;
  width: fit-content;
}

.live--1 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  width: fit-content;
}

.css3_logo_and_wordmark-1 {
  height: 135px;
  left: 408px;
  object-fit: cover;
  position: absolute;
  top: 1828px;
  width: 93px;
}

.python_logo_and_wordmark-1 {
  height: 82px;
  left: 295px;
  object-fit: cover;
  position: absolute;
  top: 1689px;
  width: 276px;
}

.frame-89 {
  border: 1px none;
  height: 103px;
  left: 422px;
  position: absolute;
  top: 641px;
  width: 17px;
}

.frame-83 {
  border: 1px none;
  height: 61px;
  left: 652px;
  position: absolute;
  top: 2168px;
  width: 6px;
}

.frame-71 {
  border: 1px none;
  height: 2px;
  left: 299px;
  position: absolute;
  top: 621px;
  width: 162px;
}

.frame-67 {
  align-items: flex-end;
  border: 1px none;
  display: flex;
  height: 10px;
  left: 300px;
  overflow: hidden;
  padding: 4px 0;
  position: absolute;
  top: 618px;
  width: 161px;
}

.frame-74 {
  border: 1px none;
  height: 1px;
  margin-left: 161px;
  width: 514px;
}

.frame-64 {
  align-items: flex-end;
  border: 1px none;
  display: flex;
  gap: 6px;
  height: 604px;
  left: 46px;
  overflow: hidden;
  padding: 0 105px;
  position: absolute;
  top: 0;
  width: 1360px;
}

.overlap-group-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: -67px;
  min-height: 667px;
  width: 1084px;
}

.overlap-group2 {
  height: 205px;
  position: relative;
  width: 1024px;
}

.header {
  align-items: flex-end;
  background-color: var(--alto);
  border: 1px none;
  display: flex;
  gap: 555px;
  height: 120px;
  justify-content: space-around;
  left: 0;
  padding: 32px 0px 8px;
  position: absolute;
  top: 0;
  width: 1024px;
}

.frame-1 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  gap: 32px;
  height: 70px;
  width: 727px;
}

.header-link-1 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  width: fit-content;
}

.text-8 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  width: fit-content;
}

.home-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  width: fit-content;
}

.header-link-3 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  margin-right: -26px;
  width: fit-content;
}

.text-10 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  width: fit-content;
}

.home-3 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  width: fit-content;
}

.header-link-2 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  width: fit-content;
}

.text-9 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  width: fit-content;
}

.home-2 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  width: fit-content;
}

.header-link {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  width: fit-content;
}

.text-7 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  width: fit-content;
}

.place {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  width: fit-content;
}

.frame-62 {
  border: 1px none;
  height: 110px;
  left: 197px;
  position: absolute;
  top: 95px;
  width: 4px;
}

.frame-87 {
  border: 1px none;
  height: 114px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 1024px;
}

.overlap-group3 {
  align-self: flex-end;
  height: 458px;
  position: relative;
  width: 1076px;
}

.overlap-group1 {
  height: 458px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1076px;
}

.image-1 {
  height: 391px;
  left: 758px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 318px;
}

.frame-75 {
  border: 1px none;
  height: 100px;
  left: 895px;
  position: absolute;
  top: 237px;
  width: 100px;
}

.frame-88 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 282px;
  left: 0;
  padding: 40px 136px;
  position: absolute;
  top: 176px;
  width: 770px;
}

.frame-66 {
  border: 1px none;
  height: 29px;
  margin-left: 17px;
  width: 15px;
}

.overlap-group-1 {
  height: 132px;
  position: relative;
  width: 418px;
}

.frame-65 {
  border: 1px none;
  height: 100px;
  left: 303px;
  position: absolute;
  top: 32px;
  width: 100px;
}

.computer-engineer {
  color: var(--black-2);
  font-family: var(--font-family-fira_code);
  font-size: 40px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 0;
  width: 418px;
}

.image-2 {
  height: 387px;
  left: 762px;
  position: absolute;
  top: 0;
  width: 303px;
}

.frame-63 {
  border: 1px none;
  height: 100px;
  left: 412px;
  position: absolute;
  top: 36px;
  width: 100px;
}

.text {
  color: var(--black);
  font-family: var(--font-family-fira_code);
  font-size: var(--font-size-xl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 25px;
  margin-bottom: 31px;
  margin-left: 59px;
  min-width: 1px;
  white-space: nowrap;
}

.frame-77 {
  border: 1px none;
  height: 100px;
  left: 558px;
  position: absolute;
  top: 2215px;
  width: 100px;
}

.frame-80 {
  border: 1px none;
  height: 51px;
  left: 631px;
  position: absolute;
  top: 2265px;
  width: 2px;
}

.image-9 {
  height: 58px;
  left: 670px;
  object-fit: cover;
  position: absolute;
  top: 2761px;
  width: 58px;
}

.at-king-mongkuts-un {
  color: var(--black-2);
  font-family: var(--font-family-fira_code);
  font-size: var(--font-size-l);
  font-weight: 400;
  left: 218px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 537px;
  width: 1168px;
}

.frame-68 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  height: 100px;
  left: 472px;
  overflow: hidden;
  position: absolute;
  top: 597px;
  width: 100px;
}

.frame-70 {
  align-items: flex-end;
  border: 1px none;
  display: flex;
  margin-left: -23px;
  margin-top: -4px;
  overflow: hidden;
  width: 100px;
}

.frame-73 {
  border: 1px none;
  height: 100px;
  margin-bottom: -50px;
  margin-left: -16px;
  width: 100px;
}

.frame-84 {
  border: 1px none;
  height: 1px;
  left: 658px;
  position: absolute;
  top: 2229px;
  width: 2px;
}

.group-28 {
  align-items: center;
  border: 1px none;
  display: flex;
  gap: 16px;
  left: 246px;
  position: absolute;
  top: 2688px;
  width: 317px;
}

.frame-26 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  width: fit-content;
}

.text-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  width: fit-content;
}

.line-7-stroke {
  flex: 1;
  height: 1px;
  margin-right: -43px;
  min-width: 1px;
}

.activities {
  letter-spacing: 0;
  line-height: normal;
  margin-right: -26px;
  margin-top: -1px;
  width: fit-content;
}

.a9d6ce81aee44ae017ee-1 {
  height: 137px;
  left: 622px;
  object-fit: cover;
  position: absolute;
  top: 1840px;
  width: 94px;
}

.frame-79 {
  border: 1px none;
  height: 53px;
  left: 548px;
  position: absolute;
  top: 2185px;
  width: 2px;
}

.image-8 {
  height: 63px;
  left: 730px;
  object-fit: cover;
  position: absolute;
  top: 2766px;
  width: 492px;
}

.first {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 239px;
  min-height: 417px;
  position: absolute;
  top: 223px;
  width: 845px;
}

.button-1 {
  align-items: center;
  border: 1px solid;
  border-color: var(--burning-orange);
  cursor: pointer;
  display: flex;
  gap: 10px;
  height: 36px;
  justify-content: center;
  margin-left: 59.75px;
  margin-top: 126px;
  padding: 8px 16px;
  width: 163px;
}

.live--3 {
  color: var(--charade);
  font-family: var(--font-family-fira_code);
  font-size: var(--font-size-s);
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.51px;
  width: fit-content;
}

.my-port-folio {
  color: var(--burning-orange);
  font-family: var(--font-family-fira_code);
  font-size: 96px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  min-height: 113px;
  width: 845px;
}

.i-want-to-be {
  color: var(--black-2);
  font-family: var(--font-family-fira_code);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 25px;
  margin-left: 18.88px;
  margin-top: 65px;
  min-height: 77px;
  width: 687px;
}

.overlap-group {
  height: 1915px;
  left: 249px;
  position: absolute;
  top: 734px;
  width: 1221px;
}

.about-me {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 2px;
  min-height: 1915px;
  position: absolute;
  top: 0;
  width: 1219px;
}

.button {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--burning-orange);
  display: flex;
  gap: 10px;
  margin-top: 50px;
  padding: 8px 16px;
  width: fit-content;
}

.live- {
  color: var(--burning-orange);
  cursor: pointer;
  font-family: var(--font-family-fira_code);
  font-size: var(--font-size-xxxl);
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  width: fit-content;
}

.text-2 {
  color: 
transparent;
  font-family: var(--font-family-fira_code);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 5px;
  margin-top: 1300px;
  min-height: 237px;
  width: 622px;
}

.span2 {
  color: var(--burning-orange);
  font-size: var(--font-size-xxxl);
}

.frame-61 {
  align-self: flex-end;
  border: 1px none;
  height: 100px;
  margin-right: 4px;
  width: 100px;
}

.text-3 {
  color: 
transparent;
  font-family: var(--font-family-fira_code);
  font-size: var(--font-size-m);
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 4px;
  margin-top: 15px;
  width: 725px;
}

.span0 {
  color: var(--black);
}

.span1 {
  color: var(--burning-orange);
  font-size: var(--font-size-xxl);
}

.group-27 {
  align-items: center;
  border: 1px none;
  display: flex;
  gap: 16px;
  height: 34px;
  left: 0;
  position: absolute;
  top: 1319px;
  width: 615px;
}

.line-7-stroke-1 {
  flex: 1;
  height: 1px;
  min-width: 256.17px;
}

.activities-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -23.95px;
  margin-top: -25.95px;
  width: fit-content;
}

.frame-26-1 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  margin-bottom: -3.95px;
  margin-top: -3.95px;
  width: fit-content;
}

.text-4 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  width: fit-content;
}

.skills {
  align-items: flex-start;
  display: flex;
  gap: 151px;
  height: 423px;
  left: 245px;
  min-width: 727px;
  position: absolute;
  top: 1535px;
}

.flex-col-2 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 141px;
  min-height: 281px;
  width: 185px;
}

.block {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--cadet-blue);
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 31px;
  padding: 8px 0px;
  width: 185px;
}

.frame-59 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px none;
  display: flex;
  margin-bottom: -112px;
  padding: 0px 8px;
}

.html5_logo_and_wordmark-1 {
  height: 127px;
  min-width: 127px;
  object-fit: cover;
}

.line-13 {
  align-self: stretch;
  height: 1px;
  margin-bottom: -121px;
  min-width: 185px;
  object-fit: cover;
}

.canva_icon_2021-1 {
  height: 109px;
  margin-right: 37px;
  object-fit: cover;
  width: 108px;
}

.group-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-height: 381px;
  width: 391px;
}

.group-36 {
  align-items: flex-start;
  display: flex;
  gap: 49px;
  height: 282px;
  margin-left: 8px;
  min-width: 349px;
}

.flex-col {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 68px;
  margin-bottom: -1px;
  min-height: 245px;
  width: 128px;
}

.union-container {
  align-self: flex-end;
  height: 114px;
  position: relative;
  width: 114px;
}

.union-1 {
  height: 87px;
  left: 0;
  position: absolute;
  top: 27px;
  width: 58px;
}

.union {
  height: 85px;
  left: 58px;
  position: absolute;
  top: 0;
  width: 56px;
}

.frame-2-1 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 63px;
  justify-content: space-between;
  width: 63px;
}

.flex-col-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 57px;
  min-height: 245px;
  width: 172px;
}

.flex-row {
  align-items: flex-start;
  display: flex;
  gap: 57px;
  height: 102px;
  min-width: 172px;
}

.rectangle-23 {
  align-self: flex-end;
  border: 1px solid;
  border-color: var(--cadet-blue);
  height: 52px;
  width: 52px;
}

.rectangle-24 {
  border: 1px solid;
  border-color: var(--cadet-blue);
  height: 86px;
  margin-left: 14px;
  width: 86px;
}

.group-26 {
  align-items: center;
  border: 1px none;
  display: flex;
  gap: 16px;
  width: 391px;
}

.activities-2 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  width: fit-content;
}

.line-7-stroke-2 {
  flex: 1;
  height: 1px;
  min-width: 108px;
}

.frame-26-2 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  width: fit-content;
}

.text-5 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  width: fit-content;
}

.frame-58 {
  align-items: center;
  background-color: var(--cadet-blue);
  border: 1px none;
  display: flex;
  gap: 10px;
  height: 43px;
  left: 911px;
  padding: 8px 196px 8px 8px;
  position: absolute;
  top: 620px;
  width: 363px;
}

.rectangle-27 {
  background-color: var(--burning-orange);
  border: 1px solid;
  border-color: var(--lavender);
  height: 16px;
  min-width: 16px;
}

.nutthakrit-somboon-prince {
  color: var(--charade);
  font-family: var(--font-family-fira_code);
  font-size: var(--font-size-m);
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-right: -191px;
  margin-top: -0.5px;
  width: fit-content;
}

.frame-72 {
  border: 1px none;
  height: 36px;
  left: 412px;
  position: absolute;
  top: 604px;
  width: 2px;
}

.image-4 {
  height: 416px;
  left: 947px;
  object-fit: cover;
  position: absolute;
  top: 2057px;
  width: 325px;
}

.frame-78 {
  border: 1px none;
  height: 49px;
  left: 514px;
  position: absolute;
  top: 2087px;
  width: 5px;
}

.image-container {
  height: 433px;
  left: 243px;
  position: absolute;
  top: 2819px;
  width: 732px;
}

.image-11 {
  height: 71px;
  left: 422px;
  object-fit: cover;
  position: absolute;
  top: 73px;
  width: 71px;
}

.image-6 {
  height: 63px;
  left: 487px;
  object-fit: cover;
  position: absolute;
  top: 84px;
  width: 245px;
}

.image-13 {
  height: 433px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 426px;
}

.image-10 {
  height: 56px;
  left: 673px;
  object-fit: cover;
  position: absolute;
  top: 2829px;
  width: 56px;
}

.image-5 {
  height: 63px;
  left: 730px;
  object-fit: cover;
  position: absolute;
  top: 2980px;
  width: 326px;
}

.image-12 {
  height: 52px;
  left: 675px;
  object-fit: cover;
  position: absolute;
  top: 2970px;
  width: 52px;
}